.time_button1{
    font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #539dce;
        width: 30%;
        border: 0;
        padding: 15px;
        color: #E0E2DC;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        top:-690px;
        left:343px;
        position: relative;
        
}
.time_button2{
    font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #539dce;
        width: 30%;
        border: 0;
        padding: 15px;
        color: #E0E2DC;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        top:-690px;
        left:400px;
        position: relative;
}